<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <header size="50px">Music App</header> -->
  </head>
  <h1 style='font-family: cursive;'>Music App</h1>
  <body>
    <%= yield %>
  </body>
</html>

