<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
    <header>
        <% if logged_in? %>
        Hello <%= current_user.username %>!
        <% else %>
        <a href="<%= new_user_url %>">Sign Up</a>
        <br>
        <a href="<%= new_session_url %>">Login</a>
        <%end%>
    </header>
  <body>
    <%= yield %>
  </body>
</html>
